
#pong {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

#pong canvas {
  width: 100%;
  height: 100%;
  border: 4px solid #2AAAE2;
}

#pong .points {
  position: absolute;
  top: 20px;
  font-size: 32px;
  color: white;
  z-index: 2;
}

#pong .comp {
  left: calc(50% - 50px);
  text-align: right;
}

#pong .user {
  right: calc(50% - 50px);
  text-align: left;
}
