// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

#pong {
  width: 100%;
  height: 100%;
  cursor: pointer;
  // border: 1px solid #f6eb16;
  // background-color: red;
  margin: 0 auto;
}

#pong canvas {
  width: 100%;
  height: 100%;
  border: 4px solid #2AAAE2;
  // border-top: 4px solid #2AAAE2;
  // border-bottom: 4px solid #2AAAE2;
}
